.idea/
.cmake/
_deps/
bin/
CMakeFiles/
lib/
Testing/
CMakeCache.txt
cmake_install.cmake
Makefile

server_tests/lib/
server_tests/CMakeFiles/
server_tests/bin/
server_tests/_deps/
server_tests/.cmake/
server_tests/Makefile
server_tests/CMakeCache.txt
server_tests/cmake_install.cmake
server_tests/server_tests

server/.cmake/
server/build/
server/cmake-build-debug/
server/cmake-build-debug-event-trace/
server/cmake-build-tests/
server/CMakeFiles/
server/cmake_install.cmake
server/CMakeCache.txt
server/Makefile
server/server

qt_client/build